// sets color here
$primary: #45aed6;
$secondary: #20222e;
$ternary: #2e2e2e;
$lighter: #f1f1f1;
$bg-color: #f5f5f5;
$bg-dark: #1f212d;

@import "node_modules/bootstrap/scss/bootstrap";
@import "customized";
